body {
	font-family: @font-family;
	font-size: @font-size;
	line-height: @line-height;
	color: @text;
}

a {
	&:hover,
	&:focus {
		color: @link-hover-color;
		text-decoration: @link-hover-decoration;
	}
	color: @link-color;
	text-decoration: none;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

hr {
	&.lg {
		margin-top: @line-height-computed * 2;
		margin-bottom: @line-height-computed * 2;
	}
	margin-top: @line-height-computed;
	margin-bottom: @line-height-computed;
	border: 0;
	border-top: 1px solid @border;
}