table {
	&.table {
		&.hover {
			tbody {
				tr {
					&:hover {
						td,
						th {
							background: @table-hover;
						}
					}
				}
			}
		}
		&.border {
			border: 1px solid @table-border;
		}
		&.stripe {
			tbody {
				tr {
					&:nth-child(2n + 1) {
						td {
							background: @table-stripe-background;
						}
					}
				}
			}
		}
		&.responsive {
			tr {
				th {
					display: table-cell;
					@media(max-width: (@screen-sm-min * 1px)) {
						display: none;
					}
				}
				td {
					&:first-child {
						border-top: 1px solid @table-border;
					}
					&:last-child {
						padding-bottom: @table-padding-v;
					}
					&:before {
						content: attr(data-th)": ";
						color:  @table-th-text;
						font-weight: bold;
						display: none;
						position: absolute;
						left: @table-padding-h;
						top: @table-padding-v;
						width: 42%;
						@media(max-width: (@screen-sm-min * 1px)) {	
							display: block;
						}
					}
					display: table-cell;
					@media(max-width: (@screen-sm-min * 1px)) {
						display: block;
						padding-left: 42%;
						padding-bottom: 0;
						padding-right: @table-padding-h;
						position: relative;
						border: 0;
					}
				}
			}
			@media(max-width: (@screen-sm-min * 1px)) {
				border-top: 0;
			}
		}
		tr {
			th {
				color:  @table-th-text;
				padding: @table-padding-v @table-padding-h;
				background: @table-th-background;
			}
			td {
				padding: @table-padding-v @table-padding-h;
				border-top: 1px solid @table-border;
				background: @table-td-background;
			}
		}
		line-height: @table-line-height;
		width: 100%;
		margin-bottom: (@line-height-computed / 2);
	}
}