// Colors

@primary: #00b5f6;

@success: #4ce276;
@warning: #f9d65e;
@error: #f36362;

@dark: #3f4457;
@light: #f1f3f6;
@border: #d9d8de;

@text: #858891;
@text-dark: #454852;
@text-light: #babcc3;

// Components

@font-family: 'Roboto', Arial;

@font-size: 14px;

@font-size-h1: floor((@font-size * 2.6));
@font-size-h2: floor((@font-size * 2.15));
@font-size-h3: ceil((@font-size * 1.7));
@font-size-h4: ceil((@font-size * 1.25));
@font-size-h5: @font-size;
@font-size-h6: ceil((@font-size * 0.85));

@headings-font-family: inherit;
@headings-color: @text-dark;
@headings-weight: 500;

@border-radius: 3px;

@padding-h: 15px;
@padding-v: 6px;

// Grid

@gap-width: 30;

@screen-xs-min: 480;
@screen-sm-min: 768;
@screen-md-min: 992;
@screen-lg-min: 1180;

@container-sm: @screen-sm-min;
@container-md: @screen-md-min;
@container-lg: @screen-lg-min;

@gap-compensation: ((@gap-width * 0.5) * -1);
@gap-half-width: (@gap-width * 0.5);