.alert {
    border: 1px solid transparent;
    color: #fff;
    position: relative;
    text-shadow: 0 0 1px rgba(#000, .25);
    border-radius: $alertRadius;
    font-weight: $alertFontWeight;
    margin: 0 0 $marginBottom 0;
    padding: $alertPadding ($alertPadding + 4) $alertPadding ($alertPadding + 34);
    &:before {
        content: '';
        font-family: 'icons';
        font-weight: normal;
        display: block;
        vertical-align: top;
        position: absolute;
        left: $alertPadding + 4;
        top: $alertPadding;
    }
    &.success {
        border-color: $success;
        background: fade-out($success, .2);
        &:before {
            content: '\f20b';
        }
    }
    &.error {
        border-color: $error;
        background: fade-out($error, .2);
        &:before {
            content: '\f150';
        }
    }
    &.info {
        border-color: $info;
        background: fade-out($info, .2);
        &:before {
            content: '\f121';
        }
    }
    &.light {
        background: none;
        text-shadow: none;
        font-weight: normal;
        color: $dark40;
        &.success {
            &:before {
                color: $success;
            }
        }
        &.error {
            &:before {
                color: $error;
            }
        }
        &.info {
            &:before {
                color: $info;
            }
        }
    }
}
