.form-field {
    outline: none;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    background: none;
    background: $form-background;
    border: 1px solid $form-border;
    padding: $input-padding-v $input-padding-h;
    color: $input-text;
    border-radius: $input-radius;
    @include transition;
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        opacity: 1;
        background: $form-disabled;
    }
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
    }
    &.success {
        border-color: $success;
    }
    &.error {
        border-color: $error;
        &.filled {
            background: rgba($error, .1);
        }
    }
    &:focus {
        outline: none;
        border-color: $form-border-focus;
        &.filled {
            background: none;
        }
    }
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
    }
}

.form-element {
    margin-bottom: $form-element-bottom;
    label {
        color: $label-color;
        margin-bottom: $label-bottom;
        font-weight: $label-weight;
        max-width: 100%;
    }
}

.form-group {
    position: relative;
    width: 100%;
    @include flexbox;
    & > span,
    .form-field,
    .btn {
        white-space: nowrap;
        @include flexbox;
        @include align-items(center);
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: $input-radius 0 0 $input-radius;
        }
        &:last-child {
            border-radius: 0 $input-radius $input-radius 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        width: 1%;
        margin-bottom: 0;
        @include flex(1 1 auto);
    }
    & > span {
        margin-bottom: 0;
        text-align: center;
        border: 1px solid $form-border;
        padding: $input-padding-v;
        background: $light;
        @include transition;
    }
    &.focus {
        & > span {
            color: $form-focus-color;
            background: $form-focus;
            border-color: $form-border-focus;
        }
    }
}

.password {
    position: relative;
    .icon-view {
        position: absolute;
        z-index: 1;
        display: block;
        width: 32px;
        top: 50%;
        text-align: center;
        cursor: pointer;
        background: $form-background;
        padding: 5px;
        font-size: 18px;
        margin: -16px 0 0 0;
        color: $form-border;
        right: ($input-padding-v - 5);
        @include user-select;
        &:before {
            line-height: 22px;
            display: block;
        }
        &.active {
            color: $form-border-focus;
        }
    }
}

form {
    &.horizontal {
        .form-element {
            & > label {
                @media(min-width: $breakpoint-sm) {
                    margin-bottom: 0;
                    padding: $input-padding-v 0;
                }
            }
            .static {
                margin-bottom: 0;
                @media(min-width: $breakpoint-sm) {
                    padding: $input-padding-v 0;
                }
            }
        }
        .checkbox:first-child,
        .checkbox.inline,
        .radio:first-child,
        .radio.inline,
        .switch:first-child,
        .switch.inline {
            padding-top: $input-padding-v;
        }
    }
}

@keyframes confetti {
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        @include transform(scale(1) translate(-50%, -50%));
    }
}

.checkbox,
.radio,
.switch {
    margin: 0;
    &.inline {
        margin: 0 12px 0 0;
        display: inline-block;
    }
    & > span {
        margin: 0 0 0 6px;
        vertical-align: top;
        color: $dark60;
    }
    input {
        display: none;
        & + div {
            cursor: pointer;
            vertical-align: top;
            position: relative;
            display: inline-block;
            @include user-select;
            @include transition;
            &:before {
                content: '';
            }
        }
    }
    &.fancy {
        input {
            & + div {
                &:after {
                    content: '';
                    width: 3px;
                    height: 3px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    border-radius: 50%;
                    @include transform(scale(0) translate(-50%, -50%));
                }
            }
            &:checked + div {
                &:after {
                    animation: confetti .4s cubic-bezier(.17,.67,.82,1.25) forwards;
                }
            }
        }
    }
}

.checkbox {
    & > span {
        line-height: $checkbox-size + 2;
    }
    input {
        & + div {
            height: $checkbox-size;
            width: $checkbox-size;
            background: $checkbox-background;
            border: 1px solid $checkbox-border;
            border-radius: $checkbox-radius;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 11px;
                margin: -7px 0 0 -3px;
                opacity: 0;
                border-right: 2px solid $checkbox-arrow;
                border-bottom: 2px solid $checkbox-arrow;
                @include transform(rotate(0deg) scale(0));
                @include transition(all .3s ease .15s);
            }
        }
        &:checked + div {
            background: $checkbox-active;
            border-color: $checkbox-border-active;
            &:before {
                opacity: 1;
                @include transform(rotate(42deg) scale(1));
                @include transition(all .15s cubic-bezier(.17,.67,.82,1.25) .1s);
            }
        }
        &:disabled + div {
            cursor: not-allowed;
        }
        &:disabled:checked + div {
            background: $checkbox-disabled;
            border-color: $checkbox-border;
            &:before {
                border-color: $checkbox-border;
            }
        }
        &:disabled:not(:checked) + div {
            background: $checkbox-disabled;
            border-color: $checkbox-border;
        }
    }
    &:hover {
        input {
            & + div {
                border-color: $checkbox-border-active;
            }
            &:checked + div {
                background: $checkbox-border-active;
            }
            &:disabled:checked + div {
                background: $checkbox-disabled;
            }
        }
    }
    &.fancy {
        input {
            & + div {
                &:after {
                    box-shadow: 0 ($checkbox-size - 4px) 0 $checkbox-border-active, 0 (-$checkbox-size + 4px) 0 $checkbox-border-active, (-$checkbox-size + 4px) 0 0 $checkbox-border-active, ($checkbox-size - 4px) 0 0 $checkbox-border-active, ($checkbox-size - 10px) ($checkbox-size - 10px) 0 $checkbox-border-active, (-$checkbox-size + 10px) ($checkbox-size - 10px) 0 $checkbox-border-active, ($checkbox-size - 10px) (-$checkbox-size + 10px) 0 $checkbox-border-active, (-$checkbox-size + 10px) (-$checkbox-size + 10px) 0 $checkbox-border-active;
                }
            }
        }
    }
}

.radio {
    & > span {
        line-height: $radio-size + 2;
    }
    input {
        & + div {
            width: $radio-size;
            height: $radio-size;
            background: $radio-background;
            border: 1px solid $radio-border;
            border-radius: $radio-radius;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: ($radio-size + 2) / 2;
                height: ($radio-size + 2) / 2;
                margin: (-(($radio-size + 2) / 4)) 0 0 (-(($radio-size + 2) / 4));
                opacity: 0;
                background: $radio-dot;
                border-radius: inherit;
                @include transform(scale(0));
                @include transition;
            }
        }
        &:checked + div {
            background: $radio-active;
            border-color: $radio-border-active;
            &:before {
                opacity: 1;
                @include transform(scale(1));
            }
        }
        &:disabled + div {
            cursor: not-allowed;
            background: $radio-disabled;
            border-color: $radio-border;
        }
        &:disabled:checked + div {
            &:before {
                background: $radio-border;
            }
        }
    }
    &:hover {
        input {
            & + div {
                border-color: $radio-border-active;
            }
            &:disabled + div {
                border-color: $radio-border;
            }
            &:checked + div {
                background: $radio-border-active;
            }
            &:disabled:checked + div {
                background: $radio-disabled;
                border-color: $radio-border;
            }
        }
    }
    &.fancy {
        input {
            & + div {
                &:after {
                    box-shadow: 0 ($radio-size - 4px) 0 $radio-border-active, 0 (-$radio-size + 4px) 0 $radio-border-active, (-$radio-size + 4px) 0 0 $radio-border-active, ($radio-size - 4px) 0 0 $radio-border-active, ($radio-size - 10px) ($radio-size - 10px) 0 $radio-border-active, (-$radio-size + 10px) ($radio-size - 10px) 0 $radio-border-active, ($radio-size - 10px) (-$radio-size + 10px) 0 $radio-border-active, (-$radio-size + 10px) (-$radio-size + 10px) 0 $radio-border-active;
                }
            }
        }
    }
}

.switch {
    & > span {
        line-height: $switch-size;
    }
    input {
        & + div {
            width: $switch-size * 2;
            height: $switch-size;
            border: 1px solid $switch-border;
            background: $switch-background;
            border-radius: $switch-radius;
            &:before {
                float: left;
                width: $switch-size - 6;
                height: $switch-size - 6;
                background: $switch-dot;
                pointer-events: none;
                margin-top: 2px;
                margin-left: 2px;
                border-radius: inherit;
                @include transition(all .25s cubic-bezier(.54,1.85,.5,1));
            }
        }
        &:checked + div {
            background: $switch-active;
            border: 1px solid $switch-border-active;
            &:before {
                @include translate($switch-size, 0)
            }
        }
        &:disabled + div {
            cursor: not-allowed;
            background: $switch-disabled;
            border-color: $switch-border;
            &:before {
                background: $switch-border;
            }
        }
    }
    &.fancy {
        input {
            & + div {
                &:after {
                    box-shadow: 0 ($switch-size - 4px) 0 $switch-border-active, 0 (-$switch-size + 4px) 0 $switch-border-active, (-$switch-size - 6px) 0 0 $switch-border-active, ($switch-size + 6px) 0 0 $switch-border-active, ($switch-size - 3px) ($switch-size - 7px) 0 $switch-border-active, (-$switch-size + 3px) ($switch-size - 7px) 0 $switch-border-active, ($switch-size - 3px) (-$switch-size + 7px) 0 $switch-border-active, (-$switch-size + 3px) (-$switch-size + 7px) 0 $switch-border-active;
                }
            }
        }
    }
    &:hover {
        input {
            &:disabled + div {
                border-color: $switch-border;
            }
            &:checked + div {
                background: $switch-border-active;
            }
            &:disabled:checked + div {
                background: $switch-disabled;
                border-color: $switch-border;
            }
        }
    }
}
