@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot?569c411e40f0c95d6364968f5e9d1aa1?#iefix') format('embedded-opentype'),
url('../fonts/icons.woff2?569c411e40f0c95d6364968f5e9d1aa1') format('woff2'),
url('../fonts/icons.woff?569c411e40f0c95d6364968f5e9d1aa1') format('woff'),
url('../fonts/icons.ttf?569c411e40f0c95d6364968f5e9d1aa1') format('truetype'),
url('../fonts/icons.svg?569c411e40f0c95d6364968f5e9d1aa1#icons') format('svg');
}

[class*='#{$icon-class}-'] {
    line-height: 1;
    &:before {
        font-family: 'icons' !important;
        font-style: normal;
        font-weight: normal !important;
        vertical-align: top;
    }
}

.#{$icon-class}-alarm:before {
    content: "\f101";
}
.#{$icon-class}-alt:before {
    content: "\f102";
}
.#{$icon-class}-android:before {
    content: "\f103";
}
.#{$icon-class}-apple:before {
    content: "\f104";
}
.#{$icon-class}-appstore:before {
    content: "\f105";
}
.#{$icon-class}-arrow_1:before {
    content: "\f106";
}
.#{$icon-class}-arrow_2:before {
    content: "\f107";
}
.#{$icon-class}-arrow_down:before {
    content: "\f108";
}
.#{$icon-class}-arrow_left:before {
    content: "\f109";
}
.#{$icon-class}-arrow_right:before {
    content: "\f10a";
}
.#{$icon-class}-arrow_up:before {
    content: "\f10b";
}
.#{$icon-class}-arrows:before {
    content: "\f10c";
}
.#{$icon-class}-arrows_horizontal:before {
    content: "\f10d";
}
.#{$icon-class}-arrows_horizontal_2:before {
    content: "\f10e";
}
.#{$icon-class}-arrows_vertical:before {
    content: "\f10f";
}
.#{$icon-class}-arrows_vertical_2:before {
    content: "\f110";
}
.#{$icon-class}-bar_chart_1:before {
    content: "\f111";
}
.#{$icon-class}-bar_chart_2:before {
    content: "\f112";
}
.#{$icon-class}-bar_chart_3:before {
    content: "\f113";
}
.#{$icon-class}-bar_graph:before {
    content: "\f114";
}
.#{$icon-class}-basket:before {
    content: "\f115";
}
.#{$icon-class}-basket_add:before {
    content: "\f116";
}
.#{$icon-class}-basket_delete:before {
    content: "\f117";
}
.#{$icon-class}-basket_ok:before {
    content: "\f118";
}
.#{$icon-class}-basket_remove:before {
    content: "\f119";
}
.#{$icon-class}-battery_1_3:before {
    content: "\f11a";
}
.#{$icon-class}-battery_2_3:before {
    content: "\f11b";
}
.#{$icon-class}-battery_empty:before {
    content: "\f11c";
}
.#{$icon-class}-battery_full:before {
    content: "\f11d";
}
.#{$icon-class}-behance:before {
    content: "\f11e";
}
.#{$icon-class}-bell:before {
    content: "\f11f";
}
.#{$icon-class}-bin:before {
    content: "\f120";
}
.#{$icon-class}-block:before {
    content: "\f121";
}
.#{$icon-class}-bluetooth:before {
    content: "\f122";
}
.#{$icon-class}-book:before {
    content: "\f123";
}
.#{$icon-class}-book_1:before {
    content: "\f124";
}
.#{$icon-class}-book_2:before {
    content: "\f125";
}
.#{$icon-class}-bookmark:before {
    content: "\f126";
}
.#{$icon-class}-brightness_high:before {
    content: "\f127";
}
.#{$icon-class}-brightness_low:before {
    content: "\f128";
}
.#{$icon-class}-browser:before {
    content: "\f129";
}
.#{$icon-class}-browser_add:before {
    content: "\f12a";
}
.#{$icon-class}-browser_delete:before {
    content: "\f12b";
}
.#{$icon-class}-browser_layout_1:before {
    content: "\f12c";
}
.#{$icon-class}-browser_layout_2:before {
    content: "\f12d";
}
.#{$icon-class}-browser_layout_3:before {
    content: "\f12e";
}
.#{$icon-class}-browser_ok:before {
    content: "\f12f";
}
.#{$icon-class}-browser_remove:before {
    content: "\f130";
}
.#{$icon-class}-bullseye:before {
    content: "\f131";
}
.#{$icon-class}-calendar:before {
    content: "\f132";
}
.#{$icon-class}-calendar_add:before {
    content: "\f133";
}
.#{$icon-class}-calendar_ok:before {
    content: "\f134";
}
.#{$icon-class}-camera:before {
    content: "\f135";
}
.#{$icon-class}-cassette:before {
    content: "\f136";
}
.#{$icon-class}-chart:before {
    content: "\f137";
}
.#{$icon-class}-chart_1_2:before {
    content: "\f138";
}
.#{$icon-class}-chart_1_4:before {
    content: "\f139";
}
.#{$icon-class}-chart_1_8:before {
    content: "\f13a";
}
.#{$icon-class}-chart_3_4:before {
    content: "\f13b";
}
.#{$icon-class}-chart_3_8:before {
    content: "\f13c";
}
.#{$icon-class}-chart_5_8:before {
    content: "\f13d";
}
.#{$icon-class}-chart_7_8:before {
    content: "\f13e";
}
.#{$icon-class}-circle:before {
    content: "\f13f";
}
.#{$icon-class}-circle_delete:before {
    content: "\f140";
}
.#{$icon-class}-circle_down:before {
    content: "\f141";
}
.#{$icon-class}-circle_fast_forward:before {
    content: "\f142";
}
.#{$icon-class}-circle_left:before {
    content: "\f143";
}
.#{$icon-class}-circle_minus:before {
    content: "\f144";
}
.#{$icon-class}-circle_ok:before {
    content: "\f145";
}
.#{$icon-class}-circle_pause:before {
    content: "\f146";
}
.#{$icon-class}-circle_play:before {
    content: "\f147";
}
.#{$icon-class}-circle_plus:before {
    content: "\f148";
}
.#{$icon-class}-circle_rewind:before {
    content: "\f149";
}
.#{$icon-class}-circle_right:before {
    content: "\f14a";
}
.#{$icon-class}-circle_skip_next:before {
    content: "\f14b";
}
.#{$icon-class}-circle_skip_previous:before {
    content: "\f14c";
}
.#{$icon-class}-circle_stop:before {
    content: "\f14d";
}
.#{$icon-class}-circle_up:before {
    content: "\f14e";
}
.#{$icon-class}-clip:before {
    content: "\f14f";
}
.#{$icon-class}-close:before {
    content: "\f150";
}
.#{$icon-class}-cloud:before {
    content: "\f151";
}
.#{$icon-class}-cloud_download:before {
    content: "\f152";
}
.#{$icon-class}-cloud_fail:before {
    content: "\f153";
}
.#{$icon-class}-cloud_ok:before {
    content: "\f154";
}
.#{$icon-class}-cloud_upload:before {
    content: "\f155";
}
.#{$icon-class}-code:before {
    content: "\f156";
}
.#{$icon-class}-cog:before {
    content: "\f157";
}
.#{$icon-class}-columns:before {
    content: "\f158";
}
.#{$icon-class}-command:before {
    content: "\f159";
}
.#{$icon-class}-compass:before {
    content: "\f15a";
}
.#{$icon-class}-computer_add:before {
    content: "\f15b";
}
.#{$icon-class}-computer_delete:before {
    content: "\f15c";
}
.#{$icon-class}-computer_download:before {
    content: "\f15d";
}
.#{$icon-class}-computer_ok:before {
    content: "\f15e";
}
.#{$icon-class}-computer_remove:before {
    content: "\f15f";
}
.#{$icon-class}-computer_upload:before {
    content: "\f160";
}
.#{$icon-class}-copy_1:before {
    content: "\f161";
}
.#{$icon-class}-copy_2:before {
    content: "\f162";
}
.#{$icon-class}-credit_card:before {
    content: "\f163";
}
.#{$icon-class}-crop:before {
    content: "\f164";
}
.#{$icon-class}-diskette:before {
    content: "\f165";
}
.#{$icon-class}-document:before {
    content: "\f166";
}
.#{$icon-class}-document_add:before {
    content: "\f167";
}
.#{$icon-class}-document_delete:before {
    content: "\f168";
}
.#{$icon-class}-document_download:before {
    content: "\f169";
}
.#{$icon-class}-document_ok:before {
    content: "\f16a";
}
.#{$icon-class}-document_remove:before {
    content: "\f16b";
}
.#{$icon-class}-document_upload:before {
    content: "\f16c";
}
.#{$icon-class}-documents:before {
    content: "\f16d";
}
.#{$icon-class}-download:before {
    content: "\f16e";
}
.#{$icon-class}-dribbble:before {
    content: "\f16f";
}
.#{$icon-class}-drop:before {
    content: "\f170";
}
.#{$icon-class}-dropbox:before {
    content: "\f171";
}
.#{$icon-class}-eject:before {
    content: "\f172";
}
.#{$icon-class}-equalizer:before {
    content: "\f173";
}
.#{$icon-class}-facebook_1:before {
    content: "\f174";
}
.#{$icon-class}-facebook_2:before {
    content: "\f175";
}
.#{$icon-class}-fast_forward:before {
    content: "\f176";
}
.#{$icon-class}-first_aid:before {
    content: "\f177";
}
.#{$icon-class}-folder:before {
    content: "\f178";
}
.#{$icon-class}-folder_add:before {
    content: "\f179";
}
.#{$icon-class}-folder_delete:before {
    content: "\f17a";
}
.#{$icon-class}-folder_ok:before {
    content: "\f17b";
}
.#{$icon-class}-folder_remove:before {
    content: "\f17c";
}
.#{$icon-class}-followers:before {
    content: "\f17d";
}
.#{$icon-class}-following:before {
    content: "\f17e";
}
.#{$icon-class}-font_size_down:before {
    content: "\f17f";
}
.#{$icon-class}-font_size_up:before {
    content: "\f180";
}
.#{$icon-class}-forrst:before {
    content: "\f181";
}
.#{$icon-class}-foursquare:before {
    content: "\f182";
}
.#{$icon-class}-frame:before {
    content: "\f183";
}
.#{$icon-class}-globe:before {
    content: "\f184";
}
.#{$icon-class}-google_plus:before {
    content: "\f185";
}
.#{$icon-class}-graph_fall:before {
    content: "\f186";
}
.#{$icon-class}-graph_rise:before {
    content: "\f187";
}
.#{$icon-class}-grid_1:before {
    content: "\f188";
}
.#{$icon-class}-grid_2:before {
    content: "\f189";
}
.#{$icon-class}-hashtag:before {
    content: "\f18a";
}
.#{$icon-class}-heart:before {
    content: "\f18b";
}
.#{$icon-class}-home:before {
    content: "\f18c";
}
.#{$icon-class}-imac:before {
    content: "\f18d";
}
.#{$icon-class}-image:before {
    content: "\f18e";
}
.#{$icon-class}-inbox:before {
    content: "\f18f";
}
.#{$icon-class}-inbox_in:before {
    content: "\f190";
}
.#{$icon-class}-inbox_out:before {
    content: "\f191";
}
.#{$icon-class}-instagram:before {
    content: "\f192";
}
.#{$icon-class}-ipad:before {
    content: "\f193";
}
.#{$icon-class}-iphone:before {
    content: "\f194";
}
.#{$icon-class}-layers:before {
    content: "\f195";
}
.#{$icon-class}-line_graph:before {
    content: "\f196";
}
.#{$icon-class}-line_graph_square:before {
    content: "\f197";
}
.#{$icon-class}-link:before {
    content: "\f198";
}
.#{$icon-class}-linkedin:before {
    content: "\f199";
}
.#{$icon-class}-list:before {
    content: "\f19a";
}
.#{$icon-class}-list_2:before {
    content: "\f19b";
}
.#{$icon-class}-loading:before {
    content: "\f19c";
}
.#{$icon-class}-location:before {
    content: "\f19d";
}
.#{$icon-class}-lock:before {
    content: "\f19e";
}
.#{$icon-class}-login:before {
    content: "\f19f";
}
.#{$icon-class}-logout:before {
    content: "\f1a0";
}
.#{$icon-class}-macbook:before {
    content: "\f1a1";
}
.#{$icon-class}-magnifying_glass:before {
    content: "\f1a2";
}
.#{$icon-class}-magnifying_glass_add:before {
    content: "\f1a3";
}
.#{$icon-class}-magnifying_glass_remove:before {
    content: "\f1a4";
}
.#{$icon-class}-mail:before {
    content: "\f1a5";
}
.#{$icon-class}-mail_incoming:before {
    content: "\f1a6";
}
.#{$icon-class}-mail_outgoing:before {
    content: "\f1a7";
}
.#{$icon-class}-map:before {
    content: "\f1a8";
}
.#{$icon-class}-map_add:before {
    content: "\f1a9";
}
.#{$icon-class}-map_delete:before {
    content: "\f1aa";
}
.#{$icon-class}-map_ok:before {
    content: "\f1ab";
}
.#{$icon-class}-map_remove:before {
    content: "\f1ac";
}
.#{$icon-class}-microphone:before {
    content: "\f1ad";
}
.#{$icon-class}-microphone_off:before {
    content: "\f1ae";
}
.#{$icon-class}-microsoft:before {
    content: "\f1af";
}
.#{$icon-class}-minus:before {
    content: "\f1b0";
}
.#{$icon-class}-more:before {
    content: "\f1b1";
}
.#{$icon-class}-more_2:before {
    content: "\f1b2";
}
.#{$icon-class}-moustache:before {
    content: "\f1b3";
}
.#{$icon-class}-music:before {
    content: "\f1b4";
}
.#{$icon-class}-notepad:before {
    content: "\f1b5";
}
.#{$icon-class}-notepad_add:before {
    content: "\f1b6";
}
.#{$icon-class}-notepad_delete:before {
    content: "\f1b7";
}
.#{$icon-class}-notepad_ok:before {
    content: "\f1b8";
}
.#{$icon-class}-notepad_remove:before {
    content: "\f1b9";
}
.#{$icon-class}-pause:before {
    content: "\f1ba";
}
.#{$icon-class}-paypal:before {
    content: "\f1bb";
}
.#{$icon-class}-pen_1:before {
    content: "\f1bc";
}
.#{$icon-class}-pen_2:before {
    content: "\f1bd";
}
.#{$icon-class}-pen_3:before {
    content: "\f1be";
}
.#{$icon-class}-picture:before {
    content: "\f1bf";
}
.#{$icon-class}-pie_chart:before {
    content: "\f1c0";
}
.#{$icon-class}-pill:before {
    content: "\f1c1";
}
.#{$icon-class}-pin_1:before {
    content: "\f1c2";
}
.#{$icon-class}-pin_2:before {
    content: "\f1c3";
}
.#{$icon-class}-pin_zoom_in:before {
    content: "\f1c4";
}
.#{$icon-class}-pin_zoom_out:before {
    content: "\f1c5";
}
.#{$icon-class}-pinterest_1:before {
    content: "\f1c6";
}
.#{$icon-class}-pinterest_2:before {
    content: "\f1c7";
}
.#{$icon-class}-play:before {
    content: "\f1c8";
}
.#{$icon-class}-plug:before {
    content: "\f1c9";
}
.#{$icon-class}-plus:before {
    content: "\f1ca";
}
.#{$icon-class}-polaroid:before {
    content: "\f1cb";
}
.#{$icon-class}-polaroids:before {
    content: "\f1cc";
}
.#{$icon-class}-power:before {
    content: "\f1cd";
}
.#{$icon-class}-presentation:before {
    content: "\f1ce";
}
.#{$icon-class}-printer:before {
    content: "\f1cf";
}
.#{$icon-class}-progress:before {
    content: "\f1d0";
}
.#{$icon-class}-record:before {
    content: "\f1d1";
}
.#{$icon-class}-repeat:before {
    content: "\f1d2";
}
.#{$icon-class}-repeat_1:before {
    content: "\f1d3";
}
.#{$icon-class}-repeat_2:before {
    content: "\f1d4";
}
.#{$icon-class}-resize_1:before {
    content: "\f1d5";
}
.#{$icon-class}-resize_2:before {
    content: "\f1d6";
}
.#{$icon-class}-resize_3:before {
    content: "\f1d7";
}
.#{$icon-class}-resize_4:before {
    content: "\f1d8";
}
.#{$icon-class}-resize_5:before {
    content: "\f1d9";
}
.#{$icon-class}-resize_6:before {
    content: "\f1da";
}
.#{$icon-class}-rewind:before {
    content: "\f1db";
}
.#{$icon-class}-rss:before {
    content: "\f1dc";
}
.#{$icon-class}-screen_expand_1:before {
    content: "\f1dd";
}
.#{$icon-class}-screen_expand_2:before {
    content: "\f1de";
}
.#{$icon-class}-screen_expand_3:before {
    content: "\f1df";
}
.#{$icon-class}-share:before {
    content: "\f1e0";
}
.#{$icon-class}-share_2:before {
    content: "\f1e1";
}
.#{$icon-class}-shop:before {
    content: "\f1e2";
}
.#{$icon-class}-shopping_bag:before {
    content: "\f1e3";
}
.#{$icon-class}-shopping_cart:before {
    content: "\f1e4";
}
.#{$icon-class}-shopping_cart_add:before {
    content: "\f1e5";
}
.#{$icon-class}-shopping_cart_delete:before {
    content: "\f1e6";
}
.#{$icon-class}-shopping_cart_ok:before {
    content: "\f1e7";
}
.#{$icon-class}-shopping_cart_remove:before {
    content: "\f1e8";
}
.#{$icon-class}-shuffle:before {
    content: "\f1e9";
}
.#{$icon-class}-skip_next:before {
    content: "\f1ea";
}
.#{$icon-class}-skip_previous:before {
    content: "\f1eb";
}
.#{$icon-class}-skype:before {
    content: "\f1ec";
}
.#{$icon-class}-slideshow:before {
    content: "\f1ed";
}
.#{$icon-class}-speech_1:before {
    content: "\f1ee";
}
.#{$icon-class}-speech_2:before {
    content: "\f1ef";
}
.#{$icon-class}-speech_3:before {
    content: "\f1f0";
}
.#{$icon-class}-speech_4:before {
    content: "\f1f1";
}
.#{$icon-class}-speech_bubble_1:before {
    content: "\f1f2";
}
.#{$icon-class}-speech_bubble_2:before {
    content: "\f1f3";
}
.#{$icon-class}-speech_bubbles:before {
    content: "\f1f4";
}
.#{$icon-class}-spotify:before {
    content: "\f1f5";
}
.#{$icon-class}-square:before {
    content: "\f1f6";
}
.#{$icon-class}-square_add:before {
    content: "\f1f7";
}
.#{$icon-class}-square_dashed:before {
    content: "\f1f8";
}
.#{$icon-class}-square_delete:before {
    content: "\f1f9";
}
.#{$icon-class}-square_down:before {
    content: "\f1fa";
}
.#{$icon-class}-square_left:before {
    content: "\f1fb";
}
.#{$icon-class}-square_ok:before {
    content: "\f1fc";
}
.#{$icon-class}-square_remove:before {
    content: "\f1fd";
}
.#{$icon-class}-square_right:before {
    content: "\f1fe";
}
.#{$icon-class}-square_up:before {
    content: "\f1ff";
}
.#{$icon-class}-star:before {
    content: "\f200";
}
.#{$icon-class}-stop:before {
    content: "\f201";
}
.#{$icon-class}-suitcase:before {
    content: "\f202";
}
.#{$icon-class}-tag:before {
    content: "\f203";
}
.#{$icon-class}-tags:before {
    content: "\f204";
}
.#{$icon-class}-target:before {
    content: "\f205";
}
.#{$icon-class}-terminal:before {
    content: "\f206";
}
.#{$icon-class}-text_center:before {
    content: "\f207";
}
.#{$icon-class}-text_justify:before {
    content: "\f208";
}
.#{$icon-class}-text_left:before {
    content: "\f209";
}
.#{$icon-class}-text_right:before {
    content: "\f20a";
}
.#{$icon-class}-tick:before {
    content: "\f20b";
}
.#{$icon-class}-time:before {
    content: "\f20c";
}
.#{$icon-class}-timer:before {
    content: "\f20d";
}
.#{$icon-class}-tumblr:before {
    content: "\f20e";
}
.#{$icon-class}-twitter:before {
    content: "\f20f";
}
.#{$icon-class}-unlock:before {
    content: "\f210";
}
.#{$icon-class}-upload:before {
    content: "\f211";
}
.#{$icon-class}-user:before {
    content: "\f212";
}
.#{$icon-class}-user_add:before {
    content: "\f213";
}
.#{$icon-class}-user_circle:before {
    content: "\f214";
}
.#{$icon-class}-user_delete:before {
    content: "\f215";
}
.#{$icon-class}-user_ok:before {
    content: "\f216";
}
.#{$icon-class}-user_remove:before {
    content: "\f217";
}
.#{$icon-class}-user_square:before {
    content: "\f218";
}
.#{$icon-class}-users:before {
    content: "\f219";
}
.#{$icon-class}-view:before {
    content: "\f21a";
}
.#{$icon-class}-view_off:before {
    content: "\f21b";
}
.#{$icon-class}-vimeo:before {
    content: "\f21c";
}
.#{$icon-class}-voicemail:before {
    content: "\f21d";
}
.#{$icon-class}-volume_1:before {
    content: "\f21e";
}
.#{$icon-class}-volume_2:before {
    content: "\f21f";
}
.#{$icon-class}-volume_3:before {
    content: "\f220";
}
.#{$icon-class}-volume_down:before {
    content: "\f221";
}
.#{$icon-class}-volume_mute:before {
    content: "\f222";
}
.#{$icon-class}-volume_off:before {
    content: "\f223";
}
.#{$icon-class}-volume_up:before {
    content: "\f224";
}
.#{$icon-class}-warning:before {
    content: "\f225";
}
.#{$icon-class}-wifi_1:before {
    content: "\f226";
}
.#{$icon-class}-wifi_2:before {
    content: "\f227";
}
.#{$icon-class}-wifi_3:before {
    content: "\f228";
}
.#{$icon-class}-windows:before {
    content: "\f229";
}
.#{$icon-class}-youtube:before {
    content: "\f22a";
}
.#{$icon-class}-zoom_in:before {
    content: "\f22b";
}
.#{$icon-class}-zoom_out:before {
    content: "\f22c";
}
