[data-tooltip] {
    cursor: help;
}

.tooltip {
    display: none;
    position: absolute;
    z-index: 1001;
    background: $tooltip-background;
    padding: $tooltip-padding-v $tooltip-padding-h;
    font-size: $tooltip-font-size;
    max-width: $tooltip-max-width;
    color: $tooltip-color;
    border-radius: $tooltip-radius;
    @include shadow('sm');
}
