body {
	background: #f1f3f6;
}

.box {
	width: 100%;
	line-height: 40px;
	text-align: center;
	border: 1px solid #d9d8de;
	margin: 30px 0 0 0;
}

.show .box {
	margin: 15px 0;
}

.color {
	overflow: hidden;
	margin: 40px 0 0 0;
	background: #fff;
}

.color span {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: left;
}

.color span.primary { background: #5bb8fd; }
.color span.success { background: #4ce276; }
.color span.warning { background: #f9d65e; }
.color span.error { background: #f36362; }
.color span.dark { background: #2f3241; }
.color span.light { background: #f1f3f6; }
.color span.border { background: none; border: 2px solid #d9d8de; }


.color .info {
	margin: 0 0 0 80px;
}

.color .info h4 {
	margin-bottom: 4px;
}

#icons ul {
	overflow: hidden;
	padding: 0;
	list-style: none;
	margin: 0 0 30px 0;
}

#icons ul li {
	display: block;
	float: left;
	width: 25%;
	position: relative;
	line-height: 34px;
	padding: 0 0 0 32px;
}

#icons ul li i {
	position: absolute;
	color: #5bb8fd;
	left: 0;
	line-height: 34px;
	top: 0;
	display: block;
}

#content section .content {
	background: #fff;
	padding: 80px 70px;
	box-shadow: 0 0 30px #e4e8ee;
}

@media(max-width: 992px) {
	#content section .content {
		padding: 60px 50px;	
	}
	#icons ul li {
		width: 33%;	
	}
}

@media(max-width: 768px) {
	#content section .content {
		padding: 40px 25px;	
	}
	#icons ul li {
		width: 50%;	
	}
}

@media(max-width: 480px) {
	#content section .content {
		padding: 20px 15px;	
	}
}

#content section header {
	margin: 60px 0 40px 0;
}

#content section header h2 {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 0 0 30px 0;
}

#content section header h2:before {
	content: "";
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 0;
	height: 4px;
	background: #5bb8fd;
	display: block;
}

.code {
	border: 1px solid #d9d8de;
	margin: 30px 0 50px 0;
}

.code .show {
	padding: 20px;
}

.code .show .button {
	margin-top: 5px;
	margin-bottom: 5px;
}

.code .show > .icon {
	margin: 0 15px 0 0;
}

.code pre {
	margin: 0;
}

.code .tab {
	width: 20px;
	display: inline-block;
}

.hljs {
	background: #f1f3f6;
	padding: 20px;
	border-top: 1px solid #d9d8de;
}