
// Colors

$primary: #1a74d4;
$secondary: #4ba7e2;

$dark: #161b21;
$darkBlue: adjust-color($dark, $blue: 8);

$dark90: mix(#fff, $darkBlue, 10%);
$dark80: mix(#fff, $darkBlue, 20%);
$dark60: mix(#fff, $darkBlue, 40%);
$dark40: mix(#fff, $darkBlue, 60%);
$dark25: mix(#fff, $darkBlue, 75%);

$shadow: adjust-color($dark, $blue: 20);

$border: #D1D7E4;
$line: #E8EBF4;
$light: #F5F6FA;

$success: #69DD95;
$error: #F26175;
$info: $secondary;

// Base

@import url('https://rsms.me/inter/inter-ui.css');

$font-family: 'Inter UI', sans-serif;

$font-size: 16px;
$line-height: 26px;

$link-color: $primary;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration: none;

// Typography

$headings-font-family: inherit;
$headings-line-height: 1.2;

$headings-h1-color: $dark80;
$headings-h2-color: $dark80;
$headings-h3-color: $dark80;
$headings-h4-color: $dark80;

$headings-h1-weight: normal;
$headings-h2-weight: normal;
$headings-h3-weight: bold;
$headings-h4-weight: bold;

$headings-h1-size: 36px;
$headings-h2-size: 32px;
$headings-h3-size: 24px;
$headings-h4-size: 21px;

// Grid

$columns: 12;
$gap-width: 30px;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1180px;

$container-sm: 730px;
$container-md: 960px;
$container-lg: 1160px;

$breakpoints:
    sm $breakpoint-sm $container-sm,
    md $breakpoint-md $container-md,
    lg $breakpoint-lg $container-lg;

// General

$border-radius: 4px;
$border-sm-radius: 3px;
$border-lg-radius: 5px;

$margin-bottom: 20px;

// Icons

$icon-class: 'icon';

// Buttons

$button-lg-radius: $border-lg-radius;
$button-radius: $border-radius;
$button-sm-radius: $border-sm-radius;

$button-padding-v: 10px;
$button-padding-h: 30px;
$button-padding-sm-v: 5px;
$button-padding-sm-h: 20px;
$button-padding-lg-v: 16px;
$button-padding-lg-h: 35px;

// Alerts

$alert-padding: 10px;
$alert-radius: $border-radius;
$alert-font-weight: 500;

// Forms

$label-color: $dark80;
$label-weight: normal;
$label-bottom: 5px;

$form-disabled: $light;
$form-border: $border;
$form-border-focus: $primary;
$form-focus: mix(#fff, $primary, 40%);
$form-focus-color: #fff;
$form-background: #fff;
$form-element-bottom: $margin-bottom;

$input-text: $dark60;
$input-radius: $border-radius;

$input-padding-v: 10px;
$input-padding-h: 15px;

$switch-size: 22px;
$switch-border: $form-border;
$switch-border-active: $primary;
$switch-active: mix(#fff, $primary, 40%);
$switch-background: $switch-border;
$switch-dot: #fff;
$switch-disabled: $form-disabled;
$switch-radius: $switch-size / 2;

$checkbox-size: 22px;
$checkbox-border: $form-border;
$checkbox-border-active: $primary;
$checkbox-active: mix(#fff, $primary, 40%);
$checkbox-background: $form-background;
$checkbox-arrow: #fff;
$checkbox-disabled: $form-disabled;
$checkbox-radius: $input-radius;

$radio-size: 22px;
$radio-border: $form-border;
$radio-border-active: $primary;
$radio-active: mix(#fff, $primary, 40%);
$radio-background: $form-background;
$radio-dot: #fff;
$radio-disabled: $form-disabled;
$radio-radius: 50%;

// Selects

$select-radius: $input-radius;
$select-active: $secondary;
$select-border: $form-border;
$select-border-focus: $form-border-focus;
$select-background: $form-background;
$select-disabled: $form-disabled;
$select-hover: $light;
$select-padding-v: $input-padding-v;
$select-padding-h: $input-padding-h;

// Paginations

$pagination-padding: 6px;
$pagination-radius: $input-radius;
$pagination-border: $form-border;
$pagination-active: $primary;
$pagination-color: $dark40;
$pagination-color-hover: $dark60;
$pagination-active-color: #fff;

// Tables

$table-bottom: $margin-bottom;
$table-th-text: $dark80;
$table-border: $border;
$table-padding-v: $input-padding-v;
$table-padding-h: $input-padding-h;
$table-line-height: $line-height;
$table-hover: $line;
$table-th-background: none;
$table-td-background: none;
$table-stripe-background: $light;

// Helper

$spaces: (5, 10, 15, 20, 25, 30, 35);
