
// Colors

$primary: #8278f3;
$primary-light: mix(#fff, $primary, 20%);

$dark: #262d37;

$dark90: mix(#fff, $dark, 10%);
$dark80: mix(#fff, $dark, 20%);
$dark60: mix(#fff, $dark, 40%);
$dark40: mix(#fff, $dark, 60%);
$dark25: mix(#fff, $dark, 75%);

$shadow: adjust-color($dark, $blue: 10);

$border: $dark25;

// Base

$font-family: 'Roboto', Arial;

$font-size: 16px;
$line-height: 26px;

$link-color: $primary;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration: none;

$margin: 20px;

// Components

$headings-font-family: inherit;
$headings-line-height: 1.2;

$headings-h1-color: $dark80;
$headings-h2-color: $dark80;
$headings-h3-color: $dark80;
$headings-h4-color: $dark80;

$headings-h1-weight: normal;
$headings-h2-weight: normal;
$headings-h3-weight: bold;
$headings-h4-weight: bold;

$headings-h1-size: 42px;
$headings-h2-size: 34px;
$headings-h3-size: 26px;
$headings-h4-size: 21px;

$label-color: $dark80;
$label-weight: normal;

$border-lg-radius: 4px;
$border-radius: 3px;
$border-sm-radius: 2px;

$padding-h: 18px;
$padding-v: 8px;

$padding-lg-h: 20px;
$padding-lg-v: 10px;

$padding-sm-h: 14px;
$padding-sm-v: 6px;

// Typography

$font-size-h1: floor(($font-size * 2.6));
$font-size-h2: floor(($font-size * 2.15));
$font-size-h3: ceil(($font-size * 1.7));
$font-size-h4: ceil(($font-size * 1.25));
$font-size-h5: $font-size;
$font-size-h6: ceil(($font-size * 0.85));

// Grid

$gap-width: 30;

$breakpoint-xs: 480;
$breakpoint-sm: 768;
$breakpoint-md: 992;
$breakpoint-lg: 1180;

$container-sm: 730;
$container-md: 960;
$container-lg: 1150;

$gap-compensation: ($gap-width * .5 * -1);
$gap-half-width: ($gap-width * .5);

// Forms

$label-text: $dark80;
$label-bottom: 5px;

$input-text: $dark60;
$input-bg: #fff;
$input-bg-disabled: $dark80;
$input-border: $border;
$input-border-radius: $border-radius;

$input-padding-v: $padding-v;
$input-padding-h: ($padding-h / 1.8);

$form-element-bottom: 20px;

$switch-size: 20px;
$switch-active: green;
$switch-margin: 5px;

$checkbox-size: 20px;
$checkbox-active: $primary;
$checkbox-active-text: #fff;
$checkbox-margin: 5px;

$radio-size: 20px;
$radio-active: $primary;
$radio-margin: 5px;

// Buttons

$button-lg-radius: $border-lg-radius;
$button-radius: $border-radius;
$button-sm-radius: $border-sm-radius;

// Tables

$table-th-text: #000;
$table-border: $border;
$table-padding-v: 10px;
$table-padding-h: 15px;
$table-line-height: $line-height;
$table-hover: fade(#000, 20%);
$table-th-background: none;
$table-td-background: none;
$table-stripe-background: fade(#000, 50%);
